/*
  http://kb.mozillazine.org/UserChrome.css
  http://kb.mozillazine.org/UserChrome-example.css

  A new Firefox profile no longer creates the `chrome` directory, with userContent-example.css
  The directory and file have to be created.

  Tested 2014-05-24 on Lubuntu 14.04 amd64, updated recently. Firefox 29.0, provided in the default repository.
*/


/*
  Make text in <pre> tags not wrap.
  Code is commonly placed within <pre> tags.  Code which wraps is jarring.
*/
pre {
  white-space: nowrap   !important;
}
